@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Inconsolata:wght@200&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

body {
    font-family: "Inconsolata","sans-serif";
    text-align: center;
    background-color: #444;
    color: aliceblue;
    font-weight: 1000;
}

nav {
    display: inline-block;
}

a {
    text-decoration: none;
}

#head-area {
    display: flex;
    background-color: #000;
    position: fixed;
    width: 100vw;
    justify-content: flex-end;
    z-index: 4;
}

#popmenu {
    margin-top: 60px;
    background-color: #000;
    position: fixed;
    width: 100vw;
    justify-content: center;
    z-index: 2;
}

.hidden { /* toggle this */
    display: none !important;
}

#popmenu li {
    font-size: 20px;
}

#popmenu div {
    padding-bottom: 12px;
    padding-top: 12px;
}

#popmenu li:hover {
    background-color:rgb(26, 26, 26);
}

#popmenu ul {
    margin-bottom: 30px;
}

#head-area h2, .iconbutton {
    display: none;
}

.blockrow {
    display: flex;
    list-style-type: none;
}

.blockrow a {
    text-decoration: none;
    color: inherit;
}

.blockrow a:visited {
    color: inherit;
}

.smallmenu {
    display: flex;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-right: 12vw;
    cursor: pointer;
}

.smallmenu img {
    width: 50%;
    height: 50%;
}

.smallmenu:hover {
    background-color:rgb(26, 26, 26);
}

.cornerpanel {
    margin-right: 52px;
    width: 16vw; 
}

@media screen and (min-width: 1280px) {

    #head-area {
        justify-content: flex-start;
    }

    #head-area h2 {
        display: block;
        font-size: larger;
        margin: 0;
        text-align: center;
        justify-content: center;
    }
    
    .topbutton {
        /* width: 260px; */
        /* height: inherit; */
        padding: 20px 0px; 
        text-align: center;
        width: 13vw;
    }
    
    .topbutton:hover {
        background-color: rgb(26, 26, 26);
    }
    
    .smallmenu {
        display: none;
    }

    .cornerpanel {
        margin-right: 0;
        width: 18vw; 
    }

    #popmenu {
        display: none;
    }
}

.cornerpanel {
    height: inherit;
    padding-top: 2px;
    display: flex;
    padding-right: 5px;
    justify-content: flex-end;
}


.iconbutton {
    display: flex;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.iconbutton img {
    width: 50%;
    height: 50%;
}

.iconbutton:hover {
    background-color:rgb(26, 26, 26);
}


#pre-intro {
    padding-top: 100px;
    scroll-margin-top: 100px;
}

#pre-intro p {
    margin-left: 12vw;
    margin-right: 12vw;
    text-align: left;
}

p {
    margin-bottom: 10px;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: large;
    line-height: 1.5;
}

h2 {
    text-align: left;
    margin-left: 12vw;
    padding-top: 40px;
    font-size: xx-large;
    padding-bottom: 20px;
}

h3 {
    text-align: left;
    margin-left: 15vw;
    font-size: 24px;
    margin-bottom: 10px;

}

#main-stuff p {
    text-align: left;
}

#main-stuff ul, ol {
    text-align: left;
    margin-left: 16vw;
    margin-bottom: 20px;
    margin-right: 16vw;
}

#main-stuff ol li {
    margin-bottom: 10px;
}

#who-i-am {
    scroll-margin-top: 50px;
}

#interests-hobbies {
    scroll-margin-top: 50px;
}

#music {
    scroll-margin-top: 50px;
}

#life-plan {
    scroll-margin-top: 50px;
}

#courses {
    scroll-margin-top: 50px;
}

#contact {
    scroll-margin-top: 50px;
    margin-bottom: 150px;
}

.small-message {
    margin-left: 12vw;
    margin-right: 12vw;
    margin-top: 20px;
    text-align: left;
    font-size: medium;
    font-family: monospace;
    font-style: italic;
}

.title2 {
    font-size: 23px;
}

.indent1 {
    margin-left: 1vw;
    margin-bottom: 35px;
}

.courseln {
    font-size: inherit;
    display: inline-block;
    width: 60vw;
    vertical-align: top;
}

footer p {
    font-size: small;
    font-weight: 100;
    margin: 0;
}

footer {
    background-color: #000;
    margin: 0;
    padding: 10px;
}

.zoom {
    font-size: 20px;
}


@media screen and (max-width: 1840px) {
    .courseln {
        display: inline;
        width: inherit;
    }
}

/* ============== CUP PONG STUFF ============== */

#pongPreview {
    display: flex;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
}

.pongTitle {
    margin: 0;
    padding: 0;
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 28px;
    text-align: center;
}

#iconAnimation {
    display: flex;
}

#isliderOne{
    height: 25px;
    width: 5px;
    background-color: whitesmoke;
    position: relative;
}

#isliderTwo{
    height: 25px;
    width: 5px;
    background-color: whitesmoke;
    position: relative;
    margin-left: 55px;
    margin-right: 12vw;
}

#iball {
    height: 5px;
    width: 5px;    
    background-color: rgb(255, 0, 0);
    position: relative;
}

#pongGame {
    background-color: rgb(0,0,0);
    /* width: calc(max(400px, 50vw)); */
    /* height: 600px; */
    margin-top: 40px;
    border: 2px solid whitesmoke;
}

#cupPong {
    font-family: "Press Start 2P";
    font-weight: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuPong {
    margin-top: 40px;
    height: 600px;
    width: calc(max(400px, 50vw));
    z-index: 1;
    background-color: #000;
    border: 2px solid whitesmoke;
}

.menuPong h2, .pausedPong h2 {
    margin-bottom: 100px;
    margin-top: 60px;
    font-weight: 1;
}

.menuPong p {
    margin-top: 40px;
    font-weight: 1;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.pausedPong p {
    margin-top: 40px;
    font-weight: 1;
    font-size: 15px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.invisibleText {
    visibility: hidden;
}

#gameStuff{
    position: relative;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    user-select: none;
    -webkit-user-select: none;
}

/* ========== pong icons ========== */

#pongSettingsIcon {
    position: absolute;
    top: 583px;
    left: 23px;
    z-index: 2;

}
#pongVolumeIcon {
    position: absolute;
    top: 590px;
    left: 76px;
    z-index: 2;
}

#pongVolumeCross {
    position: absolute;
    top: 583px;
    left: 65px;
    z-index: 2;
}

#pongVisibleIcon {
    position: absolute;
    top: 55px;
    left: 29px;
    z-index: 2;
}

#pongVisibleCross {
    position: absolute;
    top: 50px;
    left: 22px;
    z-index: 2;
}

#pongExitIcon {
    position: absolute;
    top: 583px;
    left: calc(100% - 75px);
    z-index: 2;
    /* transform: scaleX(-1); */
}

#pongBackIcon {
    position: absolute;
    top: 592px;
    left: calc(100% - 120px);
    z-index: 2;
}

#pongResumeIcon {
    position: absolute;
    top: 140px;
    left: 20%;
}

#pongRestartIcon {
    position: absolute;
    top: 140px;
    left: calc(80% - 100px);
}

#pongVolumeText {
    /* currently unused */
    position: absolute;
    top: 583px;
    left: 55px;
    z-index: 1;
}

#pongSettingsText {
    /* currently unused */
    position: absolute;
    top: 583px;
    left: -100px;
    z-index: 1;
}

.littleIconText {
    /* currently unused */
    font-weight: 1;
    font-size: 15px;
}

/* ========== pong icons ========== */

.pongButton:hover {
    cursor: pointer;
}

.pausedPong {
    margin-top: 40px;
    height: 600px;
    width: calc(max(400px, 50vw));
    z-index: 1;
    background-color: #000000e8;
    border: 2px solid rgba(245, 245, 245, 0);
}

#pongPausedTitle{
    margin-bottom: 200px;
}

#pausedScreen {
    position: absolute;
}

#arrowCupTitle {
    padding: 20px 0px 20px 0px;
}

#cupTitle {
    margin-left: 15px;
    margin-right: 0;
    padding: 20px 25px 20px 0px;
}

#cupTitle:hover {
    cursor: pointer;
}

#pongExitPrompt, #pongSPPrompt, #pongMPPrompt, #backToMenuPrompt, #restartPrompt {
    z-index: 3;
    margin: 0;
    height: 300px;
    width: calc(max(400px, 16vw));
    position: absolute;
}

#musicSlider {
    position: absolute;
    top: 395px;
    left: calc(15vw + 180px);
    z-index: 1;
}

#soundSlider {
    position: absolute;
    top: 455px;
    left: calc(15vw + 180px);;
    z-index: 1;
}

#musicSliderS {
    position: absolute;
    top: 300px;
    left: calc(15vw + 180px);
    z-index: 1;
}

#soundSliderS {
    position: absolute;
    top: 368px;
    left: calc(15vw + 180px);;
    z-index: 1;
}

#soundRange, #musicRange, #soundRangeS, #musicRangeS {
    background-color: rgba(56, 32, 32, 0.404);
    height: 3px;
    width: calc(25px + 8vw);
    position: absolute;
    top: 8.5px;
}

.sliderKnob {
    background-color: rgb(255, 255, 255);
    height: 20px;
    width: 8px;
    position: absolute;
    left: calc(35px + 10vw - 4px);
}

#musicToggle, #soundToggle {
    font-size: 16px;
}

.volumePar {
    margin-left: calc(12vw) !important;
    margin-right: 0;
}

#playerTwoScore {
    position: absolute;
    /* top: 190px;
    left: calc(20% - 16px); */
    top: 60px;
    left: calc(50% - 60px);
    z-index: 2;
    margin: 0;
    font-size: 35px;
}

#playerOneScore {
    position: absolute;
    /* top: 190px;
    left: calc(80% - 16px); */
    top: 60px;
    left: calc(50% + 40px);
    z-index: 2;
    margin: 0;
    font-size: 35px;
}

.endTitle {
    margin-bottom: 140px !important;
}

.downArrow {
    transform: rotate(180deg);
}

.onCanvasArrow {
    opacity: 0.5;
    position: absolute;
    top: 0;
    left: 0;
}


.onCanvasBindText {
    color: black;
    font-size: 16px;
    position: absolute;
    top: 13px;
    left: 13px;
    margin: 0;
}

.onCanvasContainer {
    position: absolute;
    z-index: 2;
    cursor: pointer;
}

#p2Up {
    top: 110px;
    left: 10%;
}
#p2Down {
    top: 500px;
    left: 10%;
}
#p1Up {
    top: 110px;
    left: calc(90% - 40px);
}
#p1Down {
    top: 500px;
    left: calc(90% - 40px);
}

.skinnyArrow {
    position: absolute;
    z-index: 3;
    left: 5.5px;
    top: 10px;
}

.skinnyArrow.downArrow {
    left: 5px;
}

#hideBindsPrompt {
    z-index: 3;
    margin: 0;
    height: 70px;
    width: calc(max(200px, 8vw));
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:10px;
    left: calc(40px + 7%);
}

#showBindsPrompt {
    z-index: 3;
    margin: 0;
    height: 70px;
    width: calc(max(200px, 8vw));
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top:10px;
    left: calc(40px + 7%);
}

#hideBindsPrompt p, #showBindsPrompt p {
    margin: 0;
    font-size: 12px;
}