@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Inconsolata:wght@200&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
}

body {
    font-family: "Inconsolata","sans-serif";
    text-align: center;
    background-color: #444;
    color: aliceblue;
    font-weight: 1000;
}

nav {
    display: inline-block;
}

a {
    text-decoration: none;
}

#head-area {
    display: flex;
    background-color: #000;
    position: fixed;
    width: 100vw;
    justify-content: flex-end;
    z-index: 2;
}

#popmenu {
    margin-top: 60px;
    background-color: #000;
    position: fixed;
    width: 100vw;
    justify-content: center;
    z-index: 2;
}

.hidden { /* toggle this */
    display: none;
}

#popmenu li {
    font-size: 20px;
}

#popmenu div {
    padding-bottom: 12px;
    padding-top: 12px;
}

#popmenu li:hover {
    background-color:rgb(26, 26, 26);
}

#popmenu ul {
    margin-bottom: 30px;
}

#head-area h2, .iconbutton {
    display: none;
}

.blockrow {
    display: flex;
    list-style-type: none;
}

.blockrow a {
    text-decoration: none;
    color: inherit;
}

.blockrow a:visited {
    color: inherit;
}

.smallmenu {
    display: flex;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-right: calc(200px - 16vw);
    cursor: pointer;
}

.smallmenu img {
    width: 50%;
    height: 50%;
}

.smallmenu:hover {
    background-color:rgb(26, 26, 26);
}

.cornerpanel {
    margin-right: 52px;
    width: 16vw; 
}

@media screen and (min-width: 1280px) {

    #head-area {
        justify-content: flex-start;
    }

    #head-area h2 {
        display: block;
        font-size: larger;
        margin: 0;
        text-align: center;
        justify-content: center;
    }
    
    .topbutton {
        /* width: 260px; */
        /* height: inherit; */
        padding: 20px 0px; 
        text-align: center;
        width: 13vw;
    }
    
    .topbutton:hover {
        background-color: rgb(26, 26, 26);
    }
    
    .smallmenu {
        display: none;
    }

    .cornerpanel {
        margin-right: 0;
        width: 18vw; 
    }

    #popmenu {
        display: none;
    }
}

.cornerpanel {
    height: inherit;
    padding-top: 2px;
    display: flex;
    padding-right: 5px;
    justify-content: flex-end;
}


.iconbutton {
    display: flex;
    width: 55px;
    height: 55px;
    border-radius: 100px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-right: 10px;

}

.iconbutton img {
    width: 50%;
    height: 50%;
}

.iconbutton:hover {
    background-color:rgb(26, 26, 26);
}


#pre-intro {
    padding-top: 100px;
    scroll-margin-top: 100px;
}

#pre-intro p {
    margin: 0px 100px;
}

p {
    margin-bottom: 10px;
    margin-left: 15vw;
    margin-right: 15vw;
    font-size: large;
    line-height: 1.5;
}

h2 {
    text-align: left;
    margin-left: 12vw;
    padding-top: 40px;
    font-size: xx-large;
    padding-bottom: 20px;
}

h3 {
    text-align: left;
    margin-left: 15vw;
    font-size: 24px;
    margin-bottom: 10px;

}

#main-stuff p {
    text-align: left;
}

#main-stuff ul, ol {
    text-align: left;
    margin-left: 16vw;
    margin-bottom: 20px;
    margin-right: 16vw;
}

#main-stuff ol li {
    margin-bottom: 10px;
}

#who-i-am {
    scroll-margin-top: 50px;
}

#interests-hobbies {
    scroll-margin-top: 50px;
}

#music {
    scroll-margin-top: 50px;
}

#life-plan {
    scroll-margin-top: 50px;
}

#courses {
    scroll-margin-top: 50px;
}

#contact {
    scroll-margin-top: 50px;
    margin-bottom: 150px;
}

.small-message {
    margin-left: 135px;
    margin-top: 20px;
    text-align: left;
    font-size: medium;
    font-family: monospace;
    font-style: italic;
}

.title2 {
    font-size: 23px;
}

.indent1 {
    margin-left: 1vw;
    margin-bottom: 35px;
}

.courseln {
    font-size: inherit;
    display: inline-block;
    width: 60vw;
    vertical-align: top;
}

footer p {
    font-size: small;
    font-weight: 100;
    margin: 0;
}

footer {
    background-color: #000;
    margin: 0;
    padding: 10px;
}

.zoom {
    font-size: 20px;
}


@media screen and (max-width: 1840px) {
    .courseln {
        display: inline;
        width: inherit;
    }
}

/* ============== CUP PONG STUFF ============== */

#pongPreview {
    display: flex;
    /* display: none; */
    justify-content: center;
}

.pongTitle {
    margin: 0;
    padding: 0;
    margin-top: 75px;
    margin-bottom: 75px;
    font-size: 28px;
    text-align: center;
}

#iconAnimation {
    display: flex;
}

#isliderOne{
    height: 25px;
    width: 5px;
    background-color: whitesmoke;
    position: relative;
    margin-left: 2vw;
}

#isliderTwo{
    height: 25px;
    width: 5px;
    background-color: whitesmoke;
    position: relative;
    margin-left: 3vw;
}

#iball {
    height: 5px;
    width: 5px;    
    background-color: rgb(255, 0, 0);
    position: relative;
}

#pongGame {
    background-color: rgb(0,0,0);
    /* width: calc(max(400px, 50vw)); */
    /* height: 600px; */
    margin-top: 40px;
    border: 2px solid whitesmoke;
}

#cupPong {
    font-family: "Press Start 2P";
    font-weight: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menuPong {
    margin-top: 40px;
    height: 600px;
    width: calc(max(400px, 50vw));
    z-index: 1;
    background-color: #000;
    border: 2px solid whitesmoke;
}

.menuPong h2, .pausedPong h2 {
    margin-bottom: 100px;
    margin-top: 60px;
    font-weight: 1;
}

.menuPong p {
    margin-top: 40px;
    font-weight: 1;
    margin-left: 0;
    margin-right: 0;
}

.pausedPong p {
    margin-top: 40px;
    font-weight: 1;
    font-size: 15px;
    margin-left: 0;
    margin-right: 0;
}

.invisibleText {
    visibility: hidden;
}

#gameStuff{
    position: relative;
}

/* ========== pong icons ========== */

#pongSettingsIcon {
    position: absolute;
    top: 585px;
    left: 10px;
    z-index: 1;

}
#pongVolumeIcon {
    position: absolute;
    top: 590px;
    left: 65px;
    z-index: 1;
}

#pongVolumeCross {
    visibility: hidden; /* TOGGLE THIS!! */
    position: absolute;
    top: 583px;
    left: 55px;
    z-index: 1;
}

#pongExitIcon {
    position: absolute;
    top: 583px;
    left: calc(100% - 60px);
    z-index: 1;
    /* transform: scaleX(-1); */
}

#pongBackIcon {
    position: absolute;
    top: 592px;
    left: calc(100% - 110px);
    z-index: 1;
}

#pongRestartIcon{
    position: absolute;
    top: 140px;
    left: 20%;
}

#pongResumeIcon {
    position: absolute;
    top: 140px;
    left: calc(80% - 100px);
}

#pongVolumeText {
    /* currently unused */
    position: absolute;
    top: 583px;
    left: 55px;
    z-index: 1;
}

#pongSettingsText {
    /* currently unused */
    position: absolute;
    top: 583px;
    left: -100px;
    z-index: 1;
}

.littleIconText {
    /* currently unused */
    font-weight: 1;
    font-size: 15px;
}

/* ========== pong icons ========== */

.pausedPong {
    margin-top: 40px;
    height: 600px;
    width: calc(max(400px, 50vw));
    z-index: 1;
    background-color: #00000050;
    border: 2px solid rgba(245, 245, 245, 0);
}


#pongPausedTitle{
    margin-bottom: 200px;
}

#pausedScreen {
    position: relative;
}

#cupTitle {
    margin: 0;
    padding: 20px 25px 20px 0px;
}

#cupTitle:hover {
    cursor: pointer;
}

